body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 1em;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}


.text-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.text-container h2 {
    color: #4CAF50;
}

.text-container p {
    margin-bottom: 10px;
}


h2 {
    font-size: xx-large;
    color: #4CAF50;
}
.bot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: x-large;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

output-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 0.5em 0;
    }

    section {
        grid-template-columns: 1fr;
    }
}
